* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.profile {
  margin: auto;

  width: 300px;
  padding-top: 20px;
  object-fit: contain;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  box-shadow: 3px 3px #f6f6f6;
  /* background: gray; */
}
.description {
  text-align: center;
  line-height: 5px;
  width: inherit;
}
.avatar {
  width: 100px;
  border-radius: 50%;
  max-width: 100%;
}
.name {
  font-size: 130%;
  font-weight: bold;
}
.tag,
.location {
  color: #a6a6a6;
}
.label {
  color: #808080;
  font-size: 90%;
}
.quantity {
  font-weight: bold;
}
.stats {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0px;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 40px;
  width: 100%;
}
.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px 1px 0 0 solid #c0c0c0; */
  border-top: 1px;
  border-right: 1px;
  border-left: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #c0c0c0;
  border-collapse: collapse;
  background: #f6f6f6;
  width: 34%;
  height: 100px;
}
.stats li:last-child {
  border-right: 0px;
}
.whole-uploads {
  width: 400px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.uploads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.uploads__title {
  text-align: center;
}
.uploads__stats {
  width: 25%;
  list-style: none;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  border-top: 1px;
  border-style: solid;
  border-color: #ffffff;
}
.uploads__stats--percentage {
  font-size: 1.2em;
}

.uploads__stats:nth-child(4n + 1) {
  background-color: green;
  border-right: 1px;
}

.uploads__stats:nth-child(4n + 2) {
  background-color: blue;
  border-right: 1px;
}

.uploads__stats:nth-child(4n + 3) {
  background-color: orange;
  border-right: 1px;
}

.uploads__stats:nth-child(4n + 4) {
  background-color: tomato;
}
.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 40px;
  margin-bottom: 40px;
  list-style: none;
}
.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 3px 3px rgba(103, 128, 159, 1),
    0px -1px 1px rgba(103, 128, 159, 1), -1px 0px 1px rgba(103, 128, 159, 1),
    1px 0px 1px rgba(103, 128, 159, 1);
  width: 350px;
  height: 100px;
  margin-top: 10px;
  padding: 10px 20px;
}
.friend-avatar {
  border-radius: 5px;
  margin: 0 20px 0 30px;
  width: 80px;
  border: 1px solid rgba(103, 128, 159, 1);
}
.online,
.offline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
.name {
  font-size: 1.8em;
}
